@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #533738;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

a {
  color: #533738;
}

header {
  background: url("../img/header/1.jpg") no-repeat;
  background-size: cover;
  height: 716px;
}

.header {
  width: 1400px;
  padding: 10px 4px 16px 4px;
  margin: 0 auto;
}

.header-body {
  margin: 0 auto;
  width: 1200px;
  position: fixed;
  z-index: 10;
  padding: 16px 0;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.header-body__logo {
  background: url("../img/header/logo.svg") left no-repeat;
  padding: 0 25px;
  margin-right: 38px;
}
.header-body__header-menu {
  margin: 0 auto;
}
.header-body__header-phone {
  margin-left: 15px;
  padding-bottom: 10px;
  background: linear-gradient(90deg, transparent, #533738, transparent) bottom/var(--d, 0) 2px no-repeat;
  transition: 0.5s;
}
.header-body__header-phone:hover {
  --d: 100%;
}

.logo__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.header-menu__menu-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header-menu__menu-list li:not(:last-child) {
  margin-right: 27px;
}
.header-menu__menu-list li:not(:last-child):first-child {
  margin-right: 32px;
}
.header-menu__menu-list li:not(:last-child):nth-child(2) {
  margin-right: 27px;
}
.header-menu__menu-list li:not(:last-child):nth-child(3) {
  margin-right: 28px;
}
.header-menu__menu-list li:not(:last-child):nth-child(4) {
  margin-right: 28px;
}
.header-menu__menu-list li:not(:last-child):nth-child(5) {
  margin-right: 30px;
}

.menu-list__link {
  display: inline-block;
  padding-bottom: 10px;
  background: linear-gradient(90deg, transparent, #533738, transparent) bottom/var(--d, 0) 2px no-repeat;
  transition: 0.5s;
}
.menu-list__link:hover {
  --d: 100%;
}

.main {
  width: 100%;
  padding: 129px 82px 16px 74px;
}
.main__column {
  margin: 0 auto;
  padding: 0 15px;
}

.main-body__title {
  font-size: 50px;
  line-height: 62px;
  text-align: left;
  margin-bottom: 20px;
}
.main-body__text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
}
.text {
  font-size: 18px;
  line-height: 30px;
}

.main-body-buttons__item {
  transition: all 0.3s;
}
.main-body-buttons__item:hover {
  color: #fff;
}

.btn {
  cursor: pointer;
  background-color: #cc8b86;
  font-size: 20px;
  padding: 25px 65.88px 24px 67.91px;
  border: none;
  font-weight: 500;
  color: #533738;
}

.content {
  padding: 0 0 16px 0;
  background-color: #efe6e4;
}

.about {
  padding-top: 68px;
}
.about__about-header-block {
  margin: 0 0 10px 0;
}
.about__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 0 0 40px 0;
}

.about-content {
  margin-right: 37px;
  height: 490px;
}
.about-content__image {
  margin-left: 48px;
}

.about-body__text {
  width: 530px;
}
.about-body__text p {
  margin-top: 2px;
  margin-bottom: 30px;
}

.about-list {
  background-color: #8d7370;
  color: #ffffff;
  margin-top: auto;
}
.about-list__about-footer {
  margin: 0 auto;
  padding: 0 85px;
}

.about-footer__items {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
}
.about-footer__item {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}
.about-footer__item:first-child {
  margin-right: 25px;
}
.about-footer__item:nth-child(2) {
  margin-right: 25px;
}
.about-footer__item span {
  font-size: 50px;
  line-height: 68px;
}

.portfolio {
  padding-top: 68px;
}
.portfolio__more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-content {
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.portfolio-header-block__title {
  margin-bottom: 35px;
  text-align: left;
}

.gallery__gallery-list {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 40px;
}
.gallery__column {
  height: 451px;
}
.gallery__column:nth-child(1) {
  grid-column: span 5;
}
.gallery__column:nth-child(4) {
  grid-column: span 5;
}
.gallery__column:nth-child(2),
.gallery__column :nth-child(3) {
  grid-column: span 7;
}
.gallery__column:nth-child(3) {
  grid-column: span 7;
}
.gallery__gallery-items {
  position: relative;
  padding: 0 0 85% 0;
}

.gallery-items__gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.gallery-items__gallery-info {
  background-color: rgba(100, 72, 69, 0.8);
  width: 100%;
  height: 451px;
  margin: 0 auto;
  color: #ffffff;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  opacity: 0;
}
.gallery-items__gallery-info:hover {
  opacity: 1;
}

.gallery-info__title {
  width: 270px;
  margin: 83px auto 30px;
  text-align: center;
  font-size: 30px;
  line-height: 37px;
}
.gallery-info__text {
  width: 418px;
  margin: 0 auto;
}

.more__link {
  padding: 0 100px;
  display: block;
  transition: opacity 0.3s linear;
  background: url("../img/works/Arrow.svg") 330px 10px no-repeat;
  margin-bottom: 50px;
}
.more__link span {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
.more__link:hover,
.more__link :focus {
  opacity: 0.6;
}

.team {
  background-color: #e2c4ba;
  padding: 55px 0 10px 0;
}
.team__work {
  padding-top: 30px;
}

.team-header-block-title {
  margin-bottom: 40px;
}

.members__members-items {
  margin: 0 20px;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.members__column {
  width: 320px;
}

.members-items__members-image {
  margin-bottom: 12px;
}
.members-items__members-text {
  width: 310px;
  line-height: 30px;
  font-size: 18px;
  padding-right: 10px;
  text-align: left;
}

.work__work-header-block {
  margin-top: 20px;
  margin-bottom: 40px;
}
.work-body__work-items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 80px;
}
.work-body__column {
  width: 285px;
}

.work-items__number {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #8d7370;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-items__text {
  width: 285px;
  text-align: center;
}

.reviews {
  padding: 58px 0 45px 0;
}
.reviews__reviews-body {
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews-body__arrow-left {
  margin-right: 0px;
  position: absolute;
}
.reviews-body__arrow-left:hover {
  animation: arrow-left 0.5s linear infinite;
}
.reviews-body__text {
  width: 400px;
}
.reviews-body__text p {
  margin-bottom: 10px;
}
.reviews-body__images {
  width: 400px;
}
.reviews-body__images img {
  margin-bottom: 20px;
}
.reviews-body__arrow-right {
  margin-left: 0;
  position: absolute;
}
.reviews-body__arrow-right:hover {
  animation: arrow-right 0.5s linear infinite;
}

@keyframes arrow-left {
  0% {
    right: 0;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0;
  }
}
@keyframes arrow-right {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
.arrow {
  display: block;
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #cc8b86;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  height: 624px;
  background-color: #8d7370;
}
.feedback__column {
  padding: 0 10px;
}

.feedback-body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 80px;
}
.feedback-body__feedback-form {
  width: 500px;
}
.feedback-form__title {
  color: #ffffff;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 45px;
}
.feedback-form__text {
  color: #ffffff;
  width: 450px;
  margin-bottom: 41px;
}
.feedback-form__feedback-form-items {
  margin-top: 48px;
}

.feedback-form-items__input {
  width: 508px;
  height: 33px;
  background: transparent;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.feedback-form-items__input::placeholder {
  color: #f6ede9;
  font-weight: 400;
  font-size: 18px;
}
.feedback-form-items__feedback-btn {
  transition: all 0.3s;
}
.feedback-form-items__feedback-btn:hover {
  color: #fff;
}

.footer {
  height: 80px;
  margin-top: auto;
}
.footer__footer-body {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.footer-body__footer-phone {
  margin-right: 45px;
}
.footer-body__footer-copyright {
  margin-left: auto;
}