@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #533738;
}

.header {
  padding: 36px 0 16px 0;
  background: url("../img/header/1.jpg") no-repeat;
  background-size: cover;
  height: 750px;
}
.header__container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__content-top {
  margin-bottom: 90px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  background: url("../img/header/logo.svg") left no-repeat;
  padding: 0 0 0 25px;
  margin-right: auto;
}
.header__brand {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.header__phone {
  margin-left: auto;
}
.header__content-main {
  margin-left: 90px;
}
.header__title {
  font-size: 50px;
  text-align: left;
  margin-bottom: 24px;
}
.header__text {
  margin-bottom: 60px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.menu__link {
  padding-right: 30px;
}

.text {
  font-size: 18px;
  line-height: 30px;
}

.btn {
  background-color: #cc8b86;
  font-size: 20px;
  padding: 25px 65.88px 24px 67.91px;
}

.main {
  background-color: #efe6e4;
  margin-bottom: auto;
}
.main__about {
  padding: 65px 0 20px 0;
}
.main__title-about {
  margin: 0 0 40px 0;
}
.main__about-body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main__text {
  width: 530px;
}
.main__p {
  margin-top: 0;
  margin-bottom: 40px;
}
.main__list {
  background-color: #8d7370;
  color: #ffffff;
  margin-top: auto;
}
.main__inner {
  width: 1400px;
  margin: 0 auto;
}
.main__items {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
}
.main__item {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.main__works {
  width: 1200px;
  margin: 0 auto;
  padding: 65px 0 20px 0;
}
.main__works-title {
  margin-bottom: 40px;
  text-align: left;
}
.main__works-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
.main__works-items {
  margin-bottom: 20px;
}
.main__watch-all {
  display: block;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.main__watch-all::after {
  content: url("/img/works/Arrow.svg");
}

.main__team {
  background-color: #e2c4ba;
  padding: 65px 0 20px 0;
}
.main__team-body {
  width: 1200px;
  margin: 0 auto;
}
.main__team-persons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
.main__person {
  width: 320px;
}
.main__preson-photo {
  margin-bottom: 5px;
}
.main__person-info {
  width: 310px;
  line-height: 30px;
  font-size: 18px;
  padding-right: 10px;
  text-align: left;
}
.main__title-team-works {
  margin-bottom: 40px;
}
.main__works-steps {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.main__work-step-number {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #8d7370;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__work-step-text {
  width: 285px;
  text-align: center;
}

.main__reviews {
  padding: 65px 0 65px 0;
}
.main__reviews-body {
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__arrow-left {
  margin-right: 0;
}
.main__reviews-text {
  width: 400px;
}
.main__reviews-photo {
  width: 400px;
}
.main__reviews-photo img {
  margin-bottom: 15px;
}
.main__arrow-right {
  margin-left: 0;
}

.arrow {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #cc8b86;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__feedback {
  background-color: #8d7370;
  padding: 0;
}
.main__feedback-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.main__feedback-body {
  display: flex;
  justify-content: center;
}
.main__feedback-form {
  width: 500px;
}
.main__title-feedback {
  text-align: left;
  color: #ffffff;
}
.main__feedback-text {
  color: #ffffff;
  width: 450px;
}
.main__feedback-input {
  width: 450px;
  height: 35px;
  background: transparent;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.main__feedback-input::placeholder {
  color: #f6ede9;
  font-weight: 400;
  font-size: 18px;
}
.main__feedback-btn {
  border: none;
}
.main__feedback-map {
  height: 100%;
}

.main__footer {
  margin-top: auto;
  height: 90px;
}
.main__footer-body {
  width: 1200px;
  margin: 37px auto;
  display: flex;
  justify-content: space-between;
}
.main__footer-phone {
  margin-right: 42px;
}
.main__footer-copyright {
  margin-left: auto;
}