//=================NORMALIZE=================================
@import "normalize.css"; //===========================================================
//=============FONTS========================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
//==========================================
//=============VARIABLES========================
//=========font============
$ff: "Montserrat", sans-serif;
//===========================
//==========colors==========
$color: #533738;
//========================
//=========backgrounds========
$bg-btn: #cc8b86;
$bg1: #efe6e4;
$bg2: #8d7370;
$bg-team: #e2c4ba;
$bg-form: #f6ede9;
//==========================
//==========width=============
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//=============================

//============================================
//===============MIXINS=======================
@mixin font-400 {
   font-family: $ff;
   font-weight: 400;
}
@mixin font-500 {
   font-family: $ff;
   font-weight: 500;
}
//=============================================
//==================HEADER======================
body {
   margin: 0;
   font-family: $ff;
   color: $color;
}

.header {
   padding: 36px 0 16px 0;
   background: url("../img/header/1.jpg") no-repeat;
   background-size: cover;
   height: 750px;
   &__container {
      width: 1400px;
      margin: 0 auto;
      padding: 0 15px;
   }
   &__content-top {
      margin-bottom: 90px;
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      background: url("../img/header/logo.svg") left no-repeat;
      padding: 0 0 0 25px;
      margin-right: auto;
   }

   &__brand {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
   }

   &__menu {
   }

   &__phone {
      margin-left: auto;
   }

   &__number {
   }

   &__content-main {
      margin-left: 90px;
   }

   &__title {
      font-size: 50px;
      text-align: left;
      margin-bottom: 24px;
   }

   &__text {
      margin-bottom: 60px;
   }

   &__button {
   }
}
._container {
}

.menu {
   &__body {
   }

   &__list {
      display: flex;
      justify-content: space-between;
      text-align: center;
   }

   &__link {
      padding-right: 30px;
   }
}
.text {
   font-size: 18px;
   line-height: 30px;
}
.btn {
   background-color: $bg-btn;
   font-size: 20px;
   padding: 25px 65.88px 24px 67.91px;
}

//==============================================
//==================MAIN==========================
.main {
   background-color: $bg1;
   margin-bottom: auto;
   &__about {
      padding: 65px 0 20px 0;
      //height: 850px;
   }

   &__title-about {
      margin: 0 0 40px 0;
   }

   &__about-body {
      margin: 0 auto;
      width: 1200px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
   }

   &__pic-about {
   }

   &__pic {
   }

   &__text {
      width: 530px;
   }
   &__p {
      margin-top: 0;
      margin-bottom: 40px;
   }
   &__list {
      background-color: $bg2;
      color: #ffffff;
      margin-top: auto;
   }
   &__inner {
      width: 1400px;
      margin: 0 auto;
   }
   &__items {
      padding: 80px 0;
      display: flex;
      justify-content: space-around;
   }

   &__item {
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      line-height: 40px;
   }
}
.title {
   font-weight: 400;
   text-transform: uppercase;
   font-size: 40px;
   text-align: center;
}
.text {
}

//==================================================
//=====================WORKS========================
.main {
   &__works {
      width: 1200px;
      margin: 0 auto;
      padding: 65px 0 20px 0;
   }

   &__works-title {
      margin-bottom: 40px;
      text-align: left;
   }

   &__works-body {
   }

   &__works-gallery {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 40px;
   }
   &__works-items {
      margin-bottom: 20px;
   }
   //&__works-item {

   //}

   &__watch-all {
      display: block;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      margin-bottom: 50px;
      &::after {
         content: url("/img/works/Arrow.svg");
      }
   }
}
.title {
}

//===================================================
//===================TEAM============================
.main {
   &__team {
      background-color: $bg-team;
      padding: 65px 0 20px 0;
   }

   &__title-team {
   }

   &__team-body {
      width: 1200px;
      margin: 0 auto;
   }

   &__team-persons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;
   }

   &__person {
      width: 320px;
   }

   &__preson-photo {
      margin-bottom: 5px;
   }

   &__person-info {
      width: 310px;
      line-height: 30px;
      font-size: 18px;
      padding-right: 10px;
      text-align: left;
   }

   &__team-works {
   }

   &__title-team-works {
      margin-bottom: 40px;
   }

   &__works-steps {
      display: flex;
      justify-content: space-between;
      text-align: center;
   }

   &__work-step {
   }

   &__work-step-number {
      margin: 0 auto;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: $bg2;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 500;

      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__work-step-text {
      width: 285px;
      text-align: center;
   }
}
.title {
}
.text {
}

//===================================================
//=======================REVIEWS===========================
.main {
   &__reviews {
      padding: 65px 0 65px 0;
   }

   &__title-reviews {
   }

   &__reviews-body {
      padding: 0;
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

   &__arrow-left {
      margin-right: 0;
   }

   &__reviews-text {
      width: 400px;
   }

   &__reviews-photo {
      width: 400px;
      & img {
         margin-bottom: 15px;
      }
   }

   &__arrow-right {
      margin-left: 0;
   }
}
.title {
}
.arrow {
   width: 72px;
   height: 72px;
   border-radius: 50%;
   background-color: $bg-btn;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.text {
}
.review-pic {
}

//======================================================
//=================FEEDBACK===========================
.main {
   &__feedback {
      background-color: $bg2;
      padding: 0;
   }
   &__feedback-wrapper {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
   }
   &__feedback-body {
      display: flex;
      justify-content: center;
   }
   &__feedback-form {
      width: 500px;
   }

   &__title-feedback {
      text-align: left;
      color: #ffffff;
   }

   &__feedback-text {
      color: #ffffff;
      width: 450px;
   }
   &__feedback-input {
      width: 450px;
      height: 35px;
      background: transparent;
      margin-bottom: 35px;

      border: none;
      border-bottom: 1px solid #ffffff;
      &::placeholder {
         color: $bg-form;
         font-weight: 400;
         font-size: 18px;
      }
   }
   &__feedback-btn {
      border: none;
   }

   &__feedback-location {
   }

   &__feedback-map {
      height: 100%;
   }
}
.title {
}
.text {
}
.btn {
}

//=========================================================
//============================FOOTER=======================
.main {
   &__footer {
      margin-top: auto;
      height: 90px;
   }

   &__footer-body {
      width: 1200px;
      margin: 37px auto;
      display: flex;
      justify-content: space-between;
   }

   &__footer-phone {
      margin-right: 42px;
   }

   &__footer-address {
   }

   &__footer-copyright {
      margin-left: auto;
   }
}
.text {
}

//==========================================================
